{% extends 'articles/base.html' %}


{% block content %}
    {% for article in articles %}
      <h2>{{ article.title }}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Created by {{ article.author }} at {{ article.created_at }}
      {% if article.is_updated %}
          Updated by {{ article.updatedby }} at {{ article.updated_at }}
      {% endif %}</h5>
      <p>{{ article.description|truncatechars:80}}</p>
      <a href="{% url 'articles:article_detail' article.pk %}">Read more</a>
      <br><br>
    {% endfor %}
{% endblock %}